body{
  background-image: url('./9-21.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#topbar{
  position: absolute;
  width: 100%;
  height: 70px;
  top: 5%;
}
#homeicon{
	position: absolute;
	width: 100px;
	height: 100%;
	left: 5%;
}
#qicon{
	position: absolute;
	width: 70px;
	height:100%;
	right: 320px;
}
#foodicon{
  position: absolute;
  width: 140px;
  height: 100%;
  right: 180px;
}
#changeicon{
  position: absolute;
  top: 63%;
  left: 12%;
}

#drag-1{
  position:absolute;
  top: 69%;
  right: 770px;
 }

#drag-2{
  position:absolute;
  top: 69%;
  right: 640px;
 }
#drag-3{
  position:absolute;
  top: 69%;
  right: 510px;
 }
#drag-4{
  position:absolute;
  top: 69%;
  right: 380px;
 }


#box-1{
  position: absolute;
  background-image: url('./2-05.png');
  width: 200px;
  height: 200px;
  top: 200px;
  right: 650px;
  touch-action: none;
}

#box-2{
  position: absolute;
  background-image: url('./2-06.png');
  width: 200px;
  height: 200px;
  top: 200px;
  right: 440px;
  touch-action: none;
}

#box-3{
  position: absolute;
  background-image: url('./2-07.png');
  width: 200px;
  height: 200px;
  top: 410px;
  right:650px;
  touch-action: none;
}
#box-4{
  position: absolute;
  background-image: url('./2-08.png');
  width: 200px;
  height: 200px;
  top: 410px;
  right: 440px;
  touch-action: none;
}

.dropzone {
}

.drop-active {
}

.drop-target {
  border-radius: 50px;
  border-color: #aaa;
  border-style: solid;
}

.drag-drop{

	-webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.drag-drop.can-drop {
}

.drop1{
  background-image: url('./2-09.png');
}
.drop2{
  background-image: url('./2-10.png');
}
.drop3{
  background-image: url('./2-11.png');
}
.drop4{
  background-image: url('./2-12.png');
}
