body{
  background-image: url('./10-25.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#topbar{
  position: absolute;
  width: 100%;
  height: 70px;
  top: 5%;
}
#homeicon{
	position: absolute;
	width: 100px;
	height: 100%;
	left: 5%;
}
#qicon{
	position: absolute;
	width: 70px;
	height:100%;
	right: 320px;
}
#foodicon{
  position: absolute;
  width: 140px;
  height: 100%;
  right: 180px;
}
#changeicon{
  position: absolute;
  top: 63%;
  left: 10%;
}

#drag-1{
  position: absolute;
  width: 130px;
  height: 126px;
  top: 73%;
  right: 765px;
}
#drag-2{
  position: absolute;
  width: 130px;
  height: 126px;
  top: 73%;
  right: 635px;
}
#drag-3{
  position: absolute;
  width: 130px;
  height: 126px;
  top: 73%;
  right: 505px;
}
#drag-4{
  position: absolute;
  width: 130px;
  height: 126px;
  top: 73%;
  right: 375px;
}

#box-1{
  position: absolute;
  background-image: url('./2-05.png');
  width: 200px;
  height: 200px;
  top: 200px;
  right: 650px;
  touch-action: none;
}

#box-2{
  position: absolute;
  background-image: url('./2-06.png');
  width: 200px;
  height: 200px;
  top: 200px;
  right: 440px;
  touch-action: none;
}

#box-3{
  position: absolute;
  background-image: url('./2-07.png');
  width: 200px;
  height: 200px;
  top: 410px;
  right:650px;
  touch-action: none;
}
#box-4{
  position: absolute;
  background-image: url('./2-08.png');
  width: 200px;
  height: 200px;
  top: 410px;
  right: 440px;
  touch-action: none;
}

.dropzone {
  border: dashed 4px transparent;
}

.drop-active {
}

.drop-target {
  border-style: solid;
}

.drag-drop{ 

	-webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.drag-drop.can-drop {
}
