
body{
  background-image:url('./tour');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}


#middle_1{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 200px;
  color: white;
}

#middle_2{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 400px;
  color: white;
}

#middle_3{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 600px;
  color: white;
}

#middle_4{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 800px;
  color: white;
}

