
body
{
    background: url("./src/BG1.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
    border: 0;
}

#title{
    font-family: url("./ARIALI.ttf");
    font-size: 75px;
    margin-left: 4%;
    margin-top: 2%;
}
#dash{
    text-decoration-color: black;
}

#pica{
  display: absolute;
  padding: 5px;
  width: 350px;
  top: 20%;
  right: 50%;
}

#picb{
  display: absolute;
  padding: 5px;
  width: 350px;
  top: 20%;
  right: 30%;
}

#picc{
  display: absolute;
  padding: 5px;
  width: 350px;
  top: 50%;
  right: 70%;
}

#picd{
  display: absolute;
  padding: 5px;
  width: 350px;
  top: 50%;
  right: 50%;
}
#pice{
  display: absolute;
  padding: 5px;
  width: 350px;
  top: 50%;
  right: 30%;
}



#pic1{
    
}
#pic2{

}
#pic3{

}
#pic4{

}
#pic5{

}
#pic6{

}
#pic7{

}
#pic8{

}
#pic9{

}
#pic10{

}

