/*this is first page config*/
body {
  background-color: #304753;
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw + 18px);
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  position: relative;
  top: 20%;
  width: 30%;
  height: 53%;
  left: 35%;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 2px solid;
}

.main #logo_img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70%;
  background-image: url("../img/logo.png");
  background-size: cover;
  border: 2px solid;
}

.main #button_start {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 30%;
  border: 2px solid;
}

.main .btn-primary {
  position: absolute;
  width: 100%;
}

/*this is second page config*/
.wrap {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  border: 3px solid red;
}

.wrap nav {
  width: 88%;
  height: 13%;
  text-align: center;
  float: right;
  clear: both;
  border: 2px solid;
}

.wrap .sidebar_region {
  position: absolute;
  background-color: #FFECC9;
  width: 12%;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  line-height: 400px;
  float: left;
  border: 2px solid blue;
  border: 2px solid;
}

.wrap .sidebar_region #logo {
  position: absolute;
  margin: 10%;
  width: 80%;
  height: 20%;
  background-image: url("../img/LOGO (3).png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.wrap .sidebar_region .side_icon {
  position: absolute;
  display: block;
  margin: 10%;
  left: 10%;
  /*
            width:60%;
            height:10%;
            text-align: center;*/
  padding-left: 25%;
  /* padding-right: 10%;
            line-height: 2px;*/
  position: absolute;
  width: 35%;
  height: 0;
  padding-bottom: 35%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid gray;
}

.wrap .order_region {
  position: absolute;
  width: 52%;
  height: 81.3%;
  top: 13%;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 12%;
  margin-right: 36%;
  border: 2px solid;
}

.wrap .shopping_region {
  position: absolute;
  top: 13%;
  right: 0;
  width: 36%;
  height: 81.3%;
  text-align: center;
  border: 2px solid;
}

.wrap .mainbox {
  background-color: #FFECC9;
  width: 88%;
  height: 87%;
  -ms-flex-line-pack: center;
      align-content: center;
  float: right;
  border: 2px solid blue;
  border: 2px solid;
}

.wrap .mainbox .step1 {
  background-color: #FFECC9;
  width: 25%;
  height: 100%;
  float: left;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 2px solid blue;
  border: 2px solid;
}

.wrap .mainbox .step1 #step1icon {
  top: 0;
  width: 100%;
  height: 10%;
  background-image: url("../img/工作區域 10 (1).png");
  background-repeat: no-repeat;
  background-position: 10% bottom;
  -ms-flex-line-pack: center;
      align-content: center;
}

.wrap .mainbox .step1 #choosestore {
  top: 11%;
  height: 10%;
  padding: 8px 0px 0px 8%;
  text-align: left;
  font-size: 40px;
}

.wrap .mainbox .step1 #choosebotton {
  position: relative;
  top: 0;
  width: 65%;
  height: 40%;
  left: 50%;
  transform: translateX(-65%);
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1;
}

.wrap .mainbox .step1 #mapbox {
  display: none;
  top: 0;
  width: 65%;
  height: 40%;
  left: 50%;
  transform: translateX(-65%);
  -ms-flex-line-pack: center;
      align-content: center;
  border: 2px solid blue;
  border: 2px solid;
  z-index: 0;
}

.wrap .mainbox .step1 #storeinfo1 {
  top: 70%;
  height: 10%;
  padding: 15px 0px 0px 8%;
  text-align: left;
  font-size: 25px;
}

.wrap .mainbox .step1 #storeinfo2 {
  top: 80%;
  padding: 15px 0px 0px 8%;
  text-align: left;
  font-size: 18px;
}

.wrap .mainbox .step2 {
  background-color: #FFECC9;
  width: 75%;
  height: 100%;
  float: right;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 2px solid blue;
  border: 2px solid;
}

.shadow {
  position: inherit;
  width: 100%;
  height: 100%;
  background-color: #fcfafa;
  opacity: 0.5;
  z-index: 100;
  display: none;
}

#menber {
  background-image: url("../img/member.png");
  margin: 5%;
  top: 25%;
  border-radius: 5px;
}

#menu {
  background-image: url("../img/menu.png");
  margin: 5%;
  top: 37%;
  border-radius: 5px;
}

#map {
  background-image: url("../img/map.png");
  margin: 5%;
  top: 49%;
  border-radius: 5px;
}

.hamburger {
  position: absolute;
  width: 35%;
  height: 0;
  padding-bottom: 35%;
  background-color: blanchedalmond;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border: 2px solid;
}

#burger1 {
  top: 0%;
  left: 10%;
  background-image: url("../img/27b6fd380a9a43f742508a1d18bf67ee.jpg");
}

#burger2 {
  top: 0%;
  right: 10%;
  background-image: url("../img/fe8a821d11269ba7e8ded9432331cd35.jpg");
}

#burger3 {
  bottom: 0%;
  left: 10%;
  background-image: url("../img/fe8a821d11269ba7e8ded9432331cd35.jpg");
}

#burger4 {
  bottom: 0%;
  right: 10%;
  background-image: url("../img/27b6fd380a9a43f742508a1d18bf67ee.jpg");
}

.rating {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 30%;
  height: 20px;
}

.glyphicon-star:before {
  color: gold;
  font-size: 20px;
  height: 100%;
}

.rating_text {
  color: gold;
  font-size: 20px;
  height: 100%;
  margin: 0%;
  top: -15%;
}

.cal {
  color: white;
  position: absolute;
  top: 3%;
  right: 2%;
  font-size: 16px;
}

.cal span {
  font-size: 25px;
}

.container_pic {
  position: absolute;
  bottom: 0%;
  background-color: white;
  opacity: 0.8;
  padding: 3px;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  line-height: 85%;
}

.container_pic .food_name {
  font-size: 25px;
}

.container_pic .food_content {
  font-size: 12px;
}

.container_pic .food_price {
  font-size: 30px;
  color: red;
}

.plus_btn {
  position: absolute;
  right: -10%;
  top: 40%;
  background-image: url("../img/add-circular-outlined-button.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20%;
  height: 20%;
}

.shoping_cart {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 75%;
  height: 100%;
  background-color: #c8cecf;
  background-repeat: no-repeat;
  background-size: contain;
}

#cart_pic {
  width: 100%;
}

.append_rigion {
  position: absolute;
  overflow: scroll;
  width: 100%;
  height: 60%;
  top: 20%;
  border: 2px solid;
}

.order_list {
  position: relative;
  width: 85%;
  height: 85px;
  background-color: azure;
  margin: 13px;
  border-radius: 10px;
  -webkit-box-shadow: 5px #304753;
          box-shadow: 5px #304753;
}

.order_name {
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 5px;
}

.ingredient {
  font-size: 12px;
  bottom: 19px;
  position: absolute;
  left: 10px;
  margin: 0%;
}

.sauce {
  font-size: 12px;
  bottom: 0%;
  position: absolute;
  left: 10px;
  bottom: 2px;
  margin: 0%;
}

.single_price {
  position: absolute;
  font-size: 20px;
  top: 5px;
  right: 5%;
}

.delete_btn {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 15px;
  right: -10%;
  border: 2px solid;
}

.add_btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 20%;
  border: 2px solid;
}

.minus_btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 40%;
  border: 2px solid;
}

.order_number {
  position: absolute;
  font-size: 20px;
  top: 5px;
  right: 32%;
}

.total_pay {
  position: absolute;
  font-size: 45px;
  bottom: 10%;
  letter-spacing: 5px;
  left: 20%;
}

/*modal control*/
.modal-body {
  width: 60%;
  height: 40%;
}

/*modal control*/
/*this is third page config*/
/*# sourceMappingURL=style.css.map */
